*{
    margin: 0px;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

body{
    font-family: sans-serif;
    background-color: white;
    position: relative;
}

.container{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: center;
}

#bg {
    z-index: -2;
    width: 100%;
    background-size: cover;
    top: 0;
    height: 100vh;
    position: absolute;
    background-position: center;
}

.app-holder{
    margin-top: 40px;
    padding: 30px 60px;
    position: relative;
}

.app-bg{
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.8;
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;

}

table {
    border-collapse: collapse;
    margin: auto;
}

.header__title{
    text-align: center;
}

.month th{
    padding: 8px;
    margin: 0px;
    border-collapse: collapse;
}

.highlight{
    background-color:lightblue;
}

#day, #weekDay{
    text-align: center;
    margin: 20px 0px;
}

.summer {
    background-color:rgb(255, 240, 110);
}

.autumn {
    background-color:rgb(255, 187, 110);
}

.winter {
    background-color:rgb(214, 239, 255);
}

.spring {
    background-color:rgb(115, 228, 100);
}